@import "~@ng-select/ng-select/themes/default.theme.css";

$mainColorBlue: #001a2c;
$mainColorBule: #5651b3;
$mainColorYellow: #d3a827;

.productcard{
    box-shadow: 3px 3px 7px 1px $mainColorBlue;
    transition: all;
    transition-duration: 0.7s;
    top: 0;
}
.productcard:hover{
    cursor: pointer;
    transform: scale(1.04);
    border-radius: 10% !important;
    box-shadow: 1px 1px 1px 1px $mainColorYellow;
    top: -20px;
}
.addNew{
    color:$mainColorYellow;
    text-decoration: underline;
    cursor:pointer;
    width: fit-content;
}
select{
    cursor:pointer;
    
    option{
        cursor:pointer !important;
    }
}