<div class='d-flex flex-wrap align-items-center mt-2 mb-2'>
  <div class='text-start ps-4 col-lg-4 col-12 mt-2'>
    <h2 class='addNew' (click)="AddNewPrd()">
      <i class="fa-solid fa-plus fs-4"></i> Add New Product</h2>
  </div>
  <div class="col-lg-8 col-12 px-3">
    <ng-select
        [items]="catList"
        (change)="catChanged()"
        bindLabel="id"
        placeholder="Select Category"
        appendTo="body"
        [multiple]="true"
        [(ngModel)]="catID">
      </ng-select>
  </div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center">
    <div  class="card px-3 pt-3 pb-0 text-center m-4 rounded-pill productcard" style="width: 18rem;height:25rem" *ngFor="let product of list">
      <div class="h-100" (click)="showDetailes(product.id)">
        <div class="card-body mt-2 h-100">
          <img src={{product.images[0]}} class="card-img-top h-50" style="border-radius: 20px;" alt={{product?.name}}>
          <p class="card-title fs-7 mt-2"><b>{{product?.name}}</b></p>
          <h3 class="card-title">{{product?.price}} $</h3>
        </div>
      </div>
    </div>
</div>