<mat-toolbar>
    <mat-toolbar-row class="nav-bar bg">
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <h1 class="name-logo">X-cite</h1>
      <div class="row d-flex align-items-center justify-content-between">
        <ul>
          <li>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user d-flex align-items-center"
            >
              <div class="information-admin">
                <!-- <img
                  src="./../../../assets/images/1.png"
                  alt=""
                  class="img-fliud user-image"
                /> -->
                <b class="mColor fs-6 p-0 m-0">{{currentAdmin.name}}</b>
                <mat-icon class="icon mColor">arrow_downward</mat-icon>
              </div>
            </button>
            <mat-menu #menu="matMenu" class="mt-3 ms-3">
              <button (click)="logOut()" mat-menu-item  class="px-4">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
