<div class="all">
                <!-- Display all Categories -->
<div class="container category-show"  style="margin-top: 30px;">
    <div>
        <div class="row justify-content-between">
          <div class="card text-center col-4 mb-5" style="width:20rem;" *ngFor="let category of categories; let i = index"  >
            <div class="card-body" style="text-align: left;">
                <!-- <p class="card-text">Id:  <span style="font-weight: bold;">{{ category.id }}</span> </p> -->
                <p class="card-text cPointer" (click)="toOwnProducts(category.id, category.subcollections)">Name:  
                    <span style="font-weight: bold;">{{ category.name }}</span> 
                </p>
                <p class="card-text cPointer" (click)="toOwnProducts(category.id, category.subcollections)">NameAr:  
                    <span style="font-weight: bold;">{{ category.nameAR }}</span> 
                </p>
                <p class="card-text">Discount:  <span style="font-weight: bold;">{{ category.discount }}%</span> </p>
                <p class="card-text" *ngFor="let cat of category.subcollections">
                    <span style="font-weight: bold;"> EN: {{cat.EN}} | </span> 
                    <span style="font-weight: bold;"> AR: {{cat.AR}} | </span> 
                </p>
                <hr>
                <img style="width:250px ;height: 150px;box-shadow: 0px 0px 10px #000; 
                border-radius: 10px;" src={{category.img}} class="cPointer" (click)="toOwnProducts(category.id, category.subcollections)"/>
                <!-- <img style="width:250px ;height: 150px;box-shadow: 0px 0px 10px #000; 
                border-radius: 10px;" src={{category.imgUrl}}/> -->
                    <div style="text-align: center;margin-top: 10%;">
                        <button href="#" class="btn btn-primary" (click)="deleteTutorial(category.id)">Delete</button>
                        <button href="#" class="btn btn-primary" (click)="sendId(category.id,category.name,category.nameAR, category.discount, category.subcollections)">Update</button>
                        <button href="#" class="btn btn-primary"  style="margin-top:10% ;margin-left:10%;" (click)="sendIdImage(category.id)">Update Image</button>

                    </div>
                </div>
            </div>            

            <!-- Update category -->
            <div *ngFor="let category of categories; let i = index" >
                <div *ngFor="let cat of category.subcollections">
                <form  (submit)="updateTutorial(gotId)" *ngIf="toDisplay"> 
                    <div [formGroup]="userFormGroup">
                        <div class="form-group">
                            <label for="Description">Name</label>
                            <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="newName"
                                value={{newName}}
                                formControlName="name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="Description">Name Ar</label>
                            <input
                                type="text"
                                class="form-control"
                                id="Description"
                                [(ngModel)]="newnameAR"
                                value={{newnameAR}}
                                formControlName="nameAR"
                            />
                        </div>
                        <div class="form-group">
                            <label for="Description">Discount</label>
                            <input
                                type="text"
                                class="form-control"
                                type="number"
                                id="Description"
                                [(ngModel)]="newDiscount"
                                formControlName="discount"
                            />
                        </div>
                        <div formArrayName="subcollections" class="form-group"> 
                            <div *ngFor="let sub of subcollections.controls; let index=index">
                                    <div formGroupName="{{index}}"> 
                                        <label for="subcollections{{index}}" class="form-label">SubCollections {{cat.EN}} {{index}}</label>
                                            <input type="text" class="form-control" id="subcollections{{index}}" formControlName="EN" >
                                    </div>
                                    <div formGroupName="{{index}}">
                                        <label for="subcollectionsAR{{index}}" class="form-label">SubCollectionsAR {{cat.AR}} {{index}}</label>
                                        <input type="text" class="form-control" id="subcollectionsAR{{index}}" formControlName="AR">
                                    </div>
                                    <button 
                                    style=
                                        "font-size: 20px;
                                        margin-right: 10px;
                                        width: 40px;
                                        margin-bottom: 20px;
                                        "
                                        *ngIf="sub.value&&index==subcollections.controls.length-1"  (click)="addSub()" class="btn btn-warning">+</button>
                                    <button
                                    style=
                                        "font-size: 20px;
                                        margin-right: 10px;
                                        width: 40px;
                                        margin-bottom: 20px;"  
                                        *ngIf="sub.value&&index==subcollections.controls.length-1"   (click)="RemoveSub()" class="btn btn-primary">-</button>

                            </div>
                        </div>
                    </div>
                    <button href="#" class="btn btn-primary update" type="submit" >Update</button>
                </form>
                </div>
            </div>

            <!-- Update Image -->
            <form  (submit)="updateImage(gotId)" *ngIf="toDisplayImg"> 
                <div [formGroup]="uploadUpdateImg">
                    <label for="description">Image</label>
                    <div class="text-danger" *ngIf="!img?.invalid || !img?.untouched">
                        <small *ngIf="img?.errors?.['required']" style="background-color: #000;padding: 5px;margin-bottom: 20px;">
                        Image is required!
                        </small>    
                    </div>
                    <input type="file" name="addImgUpdate" id="addImgUpdate" class="form-control" accept=".png,.jpg,.jpeg" formControlName="updateImg">     
                </div>
                <button href="#" class="btn btn-primary update" type="submit" >Update</button>
            </form>

        </div>
    </div>  

<button class="btn btn-primary" (click)="goToSaveCat()">Add Category</button> 
</div>