

<div class="all">
    
                <!-- Display all Categories -->
<div class="container category-show"  style="margin-top: 30px;">
    <div>
        <div class="row justify-content-between">
          <div class="card text-center col-4 mb-5" style="width:20rem;" *ngFor="let category of categories; let i = index"  >
            <div class="card-body" style="text-align: left;">
                <!-- <p class="card-text">Id:  <span style="font-weight: bold;">{{ category.id }}</span> </p> -->
                <p class="card-text cPointer" (click)="toOwnProducts(category.id, category.subcollections)">Name:  
                    <span style="font-weight: bold;">{{ category.name }}</span> 
                </p>
                <p class="card-text cPointer" (click)="toOwnProducts(category.id, category.subcollections)">NameAr:  
                    <span style="font-weight: bold;">{{ category.nameAR }}</span> 
                </p>
                <p class="card-text">Discount:  <span style="font-weight: bold;">{{ category.discount }}%</span> </p>
                <p class="card-text" *ngFor="let cat of category.subcollections">
                    <span style="font-weight: bold;"> EN: {{cat.EN}} | </span> 
                    <span style="font-weight: bold;"> AR: {{cat.AR}} | </span> 
                </p>
                <hr>
                <img style="width:250px ;height: 150px;box-shadow: 0px 0px 10px #000; 
                border-radius: 10px;" src={{category.img}} class="cPointer" (click)="toOwnProducts(category.id, category.subcollections)"/>
                <!-- <img style="width:250px ;height: 150px;box-shadow: 0px 0px 10px #000; 
                border-radius: 10px;" src={{category.imgUrl}}/> -->
                    <div style="text-align: center;margin-top: 10%;">
                        <button href="#" class="btn btn-primary" (click)="deleteTutorial(category.id)">Delete</button>
                        <button href="#" class="btn btn-primary" (click)="sendId(category.id,category.name,category.nameAR, category.discount, category.subcollections)">Update</button>
                        <button href="#" class="btn btn-primary"  style="margin-top:10% ;margin-left:10%;" (click)="sendIdImage(category.id)">Update Image</button>
                    </div>
                </div>
            </div>
        </div>               
        <div *ngFor="let category of categories; let i = index" >
            <div *ngFor="let cat of category.subcollections">
            <form  (submit)="updateTutorial(gotId)" *ngIf="toDisplay"> 
                <div [formGroup]="userFormGroup">
                <div class="form-group">
                    <label for="Description">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="newName"
                        value={{newName}}
                        formControlName="name"
                    />
                </div>
                <div class="form-group">
                    <label for="Description">Name Ar</label>
                    <input
                        type="text"
                        class="form-control"
                        id="Description"
                        [(ngModel)]="newnameAR"
                        value={{newnameAR}}
                        formControlName="nameAr"
                    />
                </div>
                <div class="form-group">
                    <label for="Description">Discount</label>
                    <input
                        type="text"
                        class="form-control"
                        type="number"
                        id="Description"
                        [(ngModel)]="newDiscount"
                        formControlName="discount"
                    />
                </div>
                <div formArrayName="subcollections" class="form-group"> 
                    <div *ngFor="let sub of subcollections.controls; let index=index">
                            <div formGroupName="{{index}}"> 
                                <label for="subcollections{{index}}" class="form-label">SubCollections {{cat.EN}} {{index}}</label>
                                    <input type="text" class="form-control" id="subcollections{{index}}" formControlName="EN" >
                            </div>
                            <div formGroupName="{{index}}">
                                <label for="subcollectionsAR{{index}}" class="form-label">SubCollectionsAR {{cat.AR}} {{index}}</label>
                                <input type="text" class="form-control" id="subcollectionsAR{{index}}" formControlName="AR">
                            </div>
                            <button 
                            style=
                                "font-size: 20px;
                                margin-right: 10px;
                                width: 40px;
                                margin-bottom: 20px;
                                "
                                *ngIf="sub.value&&index==subcollections.controls.length-1"  (click)="addSub()" class="btn btn-warning">+</button>
                            <button
                            style=
                                "font-size: 20px;
                                margin-right: 10px;
                                width: 40px;
                                margin-bottom: 20px;"  
                                *ngIf="sub.value&&index==subcollections.controls.length-1"   (click)="RemoveSub()" class="btn btn-primary">-</button>

                    </div>
                </div>
                </div>
                <button href="#" class="btn btn-primary update" type="submit" >Update</button>
            </form>
            </div>
        </div>
        <form  (submit)="updateImage(gotId)" *ngIf="toDisplayImg"> 
            <div [formGroup]="uploadUpdateImg">
                <label for="description">Image</label>
                <div class="text-danger" *ngIf="!img?.invalid || !img?.untouched">
                    <small *ngIf="img?.errors?.['required']" style="background-color: #000;padding: 5px;margin-bottom: 20px;">
                    Image is required!
                    </small>    
                </div>
                <input type="file" name="addImgUpdate" id="addImgUpdate" class="form-control" accept=".png,.jpg,.jpeg" formControlName="updateImg">     
            </div>
            <button href="#" class="btn btn-primary update" type="submit" >Update</button>
        </form>
    </div>
    </div>  
    
    <!-- Add Category -->
<div class="col-lg-12 d-flex">
    <div class="col-lg-6">
        <h2 class="add-cat">Add New Category</h2>
        <div class="submit-form" >
            <div *ngIf="!submitted">
            <div [formGroup]="userFormGroup">
        
                    <div class="form-group">
                        <label for="title">Name</label>
                        <div class="text-danger" *ngIf="!name?.invalid || !name?.untouched">
                            <small *ngIf="name?.errors?.['required']" style="background-color: #000;padding: 5px;margin-bottom: 20px;">
                                Name is required!
                            </small>
                        </div>
                        <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        />
                    </div>  
                    <div class="form-group">
                        <label for="title">Name AR</label>
                        <div class="text-danger" *ngIf="!nameAR?.invalid || !nameAR?.untouched">
                            <small *ngIf="nameAR?.errors?.['required']" style="background-color: #000;padding: 5px;margin-bottom: 20px;">
                                ادخل الاسم من فضلك
                            </small>
                        </div>
                        <input
                        type="text"
                        class="form-control"
                        id="title"
                        formControlName="nameAR"
                        name="title"
                        />
                    </div>
                    <div class="form-group">
                        <label for="description">Discount</label>
                        <input
                        type="number" min="0"
                        class="form-control"
                        formControlName="discount"
                        />
                    </div>   
                    <div formArrayName="subcollections" class="form-group">
                        <div *ngFor="let sub of subcollections.controls; let index=index">
                            <div formGroupName="{{index}}">
                                <label for="subcollections{{index}}" class="form-label">SubCollections  {{index}}</label>
                                <input type="text" class="form-control" id="subcollections{{index}}" formControlName="EN">
                            </div>
                            <div formGroupName="{{index}}">
                                <label for="subcollectionsAR{{index}}" class="form-label">SubCollectionsAR  {{index}}</label>
                                <input type="text" class="form-control" id="subcollectionsAR{{index}}" formControlName="AR">
                            </div>
                        </div>
                        <button 
                        style=
                            "font-size: 20px;
                            margin-right: 10px;
                            width: 40px;
                            margin-bottom: 20px;
                            "  (click)="addSub()" class="btn btn-warning">+</button>
                        <button
                        style=
                            "font-size: 20px;
                            margin-right: 10px;
                            width: 40px;
                            margin-bottom: 20px;
                            "   (click)="RemoveSub()" class="btn btn-primary">-</button>
                    </div>

                    <label for="description">Image</label>
                    <div class="text-danger" *ngIf="!img?.invalid || !img?.untouched">
                        <small *ngIf="img?.errors?.['required']" style="background-color: #000;padding: 5px;margin-bottom: 20px;">
                        Image is required!
                        </small>    
                    </div>
                    <input type="file" name="img" id="addImg" class="form-control" accept=".png,.jpg,.jpeg" formControlName="img">     
                </div> 
                <button [disabled]="userFormGroup.invalid" (click)="saveCat()" class="btn btn-success">Submit</button>
            </div>
        </div>
        <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newCat()">Add</button>
        </div>
    </div>

    <div class="col-lg-6">
        <h2 class="add-cat" >Create Attributes</h2>
        <div class="submit-form" [formGroup]="Attributes">

            

            <div *ngIf="!submitted">
                <!-- <div class="form-group">
                    <div class="text-danger" *ngIf="!Newid?.invalid || !Newid?.untouched">
                        <small *ngIf="Newid?.errors?.['required']" style="background-color: #000;padding: 5px;">
                            ID is required!
                        </small>
                    </div>
                    <label for="title">ID (new One or One That Exist)</label>
                    <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="Newid"
                    />
                </div>  -->
                <div class="mb-2">
                    <label for="prodCat">Select Category: </label>
                    <select name="cat"  class="form-control" formControlName="Newid">   
                        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.id}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">Category Name</label>
                    <div class="text-danger" *ngIf="!newCatName?.invalid || !newCatName?.untouched">
                        <small *ngIf="newCatName?.errors?.['required']" style="background-color: #000;padding: 5px;">
                            Category Name is required!
                        </small>
                    </div>
                    <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="newCatName"
                    />
                </div> 
                <div class="form-group">
                    <label for="title">Document Name</label>
                    <div class="text-danger" *ngIf="!newDocID?.invalid || !newDocID?.untouched">
                        <small *ngIf="newDocID?.errors?.['required']" style="background-color: #000;padding: 5px;">
                            Document ID is required!
                        </small>
                    </div>
                    <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="newDocID"
                    />
                </div> 
                <div [formGroup]="Attributes">
                    <div class="text-danger" *ngIf="!attributes?.invalid || !attributes?.untouched">
                        <small *ngIf="attributes?.errors?.['required']" style="background-color: #000;padding: 5px;">
                            Attributes is required!
                        </small>
                    </div>
                    <div 
                        formArrayName="attributes"
                        class="form-group"  
                        *ngFor="let sub of attributes.controls; let index=index"
                        >
                        <label for="attributes{{index}}" class="form-label">Attributes  {{index}}</label>
                        <input type="text" class="form-control" id="{{index+1}}" formControlName="{{index}}">
                        <button 
                        style=
                            "font-size: 20px;
                            margin-right: 10px;
                            width: 40px;
                            margin-bottom: 20px;
                            "  (click)="addAttributes()" class="btn btn-warning">+</button>
                        <button
                        style=
                            "font-size: 20px;
                            margin-right: 10px;
                            width: 40px;
                            margin-bottom: 20px;
                            "   (click)="RemoveAttributes()" class="btn btn-primary">-</button>
                    </div>
                </div>
                <div [formGroup]="Attributes">
                    <div class="text-danger" *ngIf="!attributesAr?.invalid || !attributesAr?.untouched">
                        <small *ngIf="attributesAr?.errors?.['required']" style="background-color: #000;padding: 5px;">
                            AttributesAr is required!
                        </small>
                    </div>
                    <div 
                        formArrayName="attributesAr"
                        class="form-group"  
                        *ngFor="let sub of attributesAr.controls; let index=index"
                        >
                        <label for="attributesAr{{index}}" class="form-label" >Attrubites Ar {{index}}</label>
                        <input type="text" class="form-control" id="{{index+1}}" formControlName="{{index}}">
                        <button 
                        style=
                            "font-size: 20px;
                            margin-right: 10px;
                            width: 40px;
                            margin-bottom: 20px;
                            "  (click)="addAttributesAr()" class="btn btn-warning">+</button>
                        <button
                        style=
                            "font-size: 20px;
                            margin-right: 10px;
                            width: 40px;
                            margin-bottom: 20px;
                            "   (click)="RemoveAttributesAr()" class="btn btn-primary">-</button>
                    </div>
                </div>
            </div>
            <button [disabled]="Attributes.invalid" (click)="addCollectionInDoc()" class="btn btn-success">Submit</button>
       </div>
       </div>
</div>

</div>