<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/images/xcite-logo-ar.png" alt="logo image" class="img-fliud">
  </div>
  <h2 matSubheader class="mt-3">X-Cite</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-link">
    <mat-icon>home</mat-icon> Home</a>
  <a mat-list-item routerLink="/edit" routerLinkActive="list-item-link">
    <mat-icon>settings</mat-icon> Edit & update</a>
  <a mat-list-item routerLink="/sellers" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> Sellers</a>
  <a mat-list-item routerLink="/customers" routerLinkActive="list-item-link">
    <mat-icon>person</mat-icon> Customers</a>
  <a mat-list-item routerLink="/products" routerLinkActive="list-item-link">
    <mat-icon>shopping_basket</mat-icon> Products</a>
  <a mat-list-item routerLink="/customers" routerLinkActive="list-item-link">
    <mat-icon> category</mat-icon> Categories</a>
</mat-nav-list>
