.btn-color{
  background-color: #0e1c36;
  color: #fff;

}

.profile-image-pic{
  height: 200px;
  width: 440px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
.hello{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #0e1c36;
}
