<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/images/xcite-logo-ar.png" alt="logo image" class="img-fliud">
  </div>
  <h2 matSubheader class="mt-3">X-Cite</h2>
  <a mat-list-item routerLink="/Home" routerLinkActive="list-item-link">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLink="/Products" routerLinkActive="list-item-link">
    <mat-icon>shopping_basket</mat-icon> Products
  </a>
  <a mat-list-item routerLink="/Categories" routerLinkActive="list-item-link">
    <mat-icon> Category</mat-icon> Categories
  </a>
  <a mat-list-item routerLink="/Users" routerLinkActive="list-item-link">
    <mat-icon>person</mat-icon> Users
  </a>
  <a mat-list-item routerLink="/Sellers" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> Sellers
  </a>
  <a mat-list-item routerLink="/Analytics" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> Analytics
  </a>

  <a mat-list-item routerLink="/Brands" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> Brands
  </a>

  <a mat-list-item routerLink="/Profile" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> Profile
  </a>

  <a mat-list-item routerLink="/Users" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> Users
  </a>

  <a mat-list-item routerLink="/WebSite" routerLinkActive="list-item-link">
    <mat-icon> monetization_on</mat-icon> About Site
  </a>

</mat-nav-list>