<!-- <table class="w-100 mx-auto shadow">
  <thead>
    <tr style="background-color:#001a2c;">
      <th class="text-light py-2 text-center col-2">Order Id</th>
      <th class="text-light py-2 ps-2 col-5">purchase Units</th>
      <th class="text-light py-2 text-center col-2">Order State</th>
      <th class="text-light py-2 text-center col-2">user Name</th>
      <th class="text-light py-2 text-center col-2">user Email</th>
      <th class="text-light py-2 text-center col-2">user Name</th>
      <th class="text-light py-2 text-center col-2">Time created</th>
      <th class="text-light py-2 text-center col-2">Order id</th>
      <th class="text-light py-2 text-center col-1">Total Paid</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of orderList">
      <tr class="bg-light">
        <td class="col-5 py-3 border border-end border-1">

        </td>
        <td class="col-2 text-center border border-end border-1">{order.state}</td>
        <td class="col-2 text-center border border-end border-1">{order.timeCreated}</td>
        <td class="col-2 text-center border border-end border-1">{order.id}</td>
        <td class="col-1 text-center border border-end border-1">{order.totalPaid}$</td>
      </tr>
      <tr>
        <td colSpan={5} class='py-1' style="background-color:#001a2c">
        </td>
      </tr>
    </ng-container>
  </tbody>
</table> -->

<div class="container mb-4">
  <p class="fs-1 my-4">ORDERS</p>
  <div class="d-flex flex-wrap col-12 bordered rounded shadow my-0 pt-2" [ngStyle]="{'background-color':i%2?'white':'#e8e8e8'}"
                  *ngFor="let order of orderList; let i = index">
    <div class="col-lg-5 col-12 ps-3 pe-1 borderedEnd">
      <p class="text-muted">{{order.timeCreated}}</p>
      <p><b>Purchase Unites:</b></p>
      <ul>
        <li class="cPointer" *ngFor="let unit of order.purchase_units" (click)="goToProduct(unit.product.id)">
          {{unit.product.name}} <b>({{unit.amount}})</b>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-12 ps-3 pe-1 borderedEnd">
      <p><b>Total Paid:</b> {{order.totalPaid}}$</p>
      <p><b>User Name:</b> {{order.userName}} <span class="text-muted" style="font-size:0.6rem ;">({{order.userId?'Registered':'unRegistered'}})</span></p>
      <p><b>User Email:</b> {{order.userEmail}}</p>
      <p><b>paid with:</b> {{order.paypalMail}}</p>
    </div>
    <div class="col-lg-3 col-12 p-3">
      <p><b>Order Id:</b> {{order.id}}</p>
      <p class="mb-1"><b>State:</b></p>
      <p class="d-flex flex-wrap align-items-center">
        <ng-select
        class="shadow col-lg-9 col-12"
        [items]="['Pending', 'charged', 'Completed']"
        placeholder="Status"
        appendTo="body"
        [multiple]="false"
        required
        (change)="changeOrderUpToDate(states[i])"
        [(ngModel)]="states[i].state"
        >
      </ng-select>
      <button class="col-lg-3 col-12 btn btn-dark btn-sm" [disabled]="states[i].upToDate" (click)="updateOrderState(states[i])">Update</button>
      </p>
    </div>
  </div>
  <div *ngIf="!orderList.length">
    <h3>There is No Orders untill now!</h3>
  </div>
</div>



















<!-- <div class="py-5">
  <table class="table table-striped"> -->
    <!--Table head-->
    <!-- <thead>
      <tr>
        <th>#</th>
        <th>id</th>
        <th>customerName</th>
        <th>itemName</th>
        <th>price</th>
        <th>quntaty</th>
        <th>sellerName</th>

      </tr>
    </thead> -->
    <!--Table head-->
    <!--Table body-->
    <!-- <tbody>
      <tr
        *ngFor="
          let order of orderList ;
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ order.id }}</td>
        <td>{{ order.cutomerName }}</td>
        <td>{{ order.itemName }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.quntaty }}</td>
        <td>{{ order.sellerName }}</td>


      </tr>
    </tbody> -->
    <!--Table body-->
  <!-- </table>
</div> -->
