.input::placeholder{
    font-size: 0.8rem;
    font-style: italic;
}

.offerbtn{
    background-color: #001a2c;
    color: #fbc326;
    font-size: smaller;
}
.submitbtn{
    background-color: #001a2c;
    color: #fbc326;
    font-size: medium;
}