<div class="container-fluid mt-3 mb-5">
    <div class="d-flex w-100 mb-4">
        <span class="col-5">
            <img src={{targitBrand.Logo}} class="w-100">
        </span>
        <span class="col-6 text-end">
            <i class="fa-solid fa-pen-to-square fs-3 m-3 cPointer mColor shadow" (click)="goToEditBrand(targetBrandID)" title="Edit"></i>
            <i class="fa-solid fa-trash-can fs-3 m-3 cPointer mColor shadow" title="Delete"></i>
        </span>
    </div>

    <div class=" bg-main sColor text-center my-3">
        <h1>** Categories **</h1>
    </div>
    <div class="container-fluid d-flex flex-wrap w-100 mb-4">
        <span *ngFor="let cat of targitBrand.Categoris" class="m-3 col-2 shadow card rounded">
            <img src="dsf" class="card-img-top">
            <h4 class="card-body">{{cat}}</h4>
        </span>
    </div>
    <h2>** Products of category x **</h2>
    <div class="container-fluid d-flex flex-wrap w-100 mb-4">
        <span *ngFor="let pro of targitBrand.Products" class="m-3 col-2 shadow card rounded">
            <img src="dsf" class="card-img-top">
            <h4 class="card-body">{{pro}}</h4>
        </span>
    </div>

    <div class=" bg-main sColor text-center my-3">
        <h1>Offers</h1>
    </div>

  <div id="carouselExampleControls" class="carousel slide w-100 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/xcite-logo-ar.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/xcite-logo-en.png" class="d-block w-100" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" #pre type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next mColor" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon mColor" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>